<h2> <%=@at_event.status.name %> Pass for <%= @user.name%></h2>
<br>
Event: <%= @event.name %>
<br>
Date: <%= @event.datetime %>
<br>
Category: <%= @event.category.name %> - <% @event.category.description %>
<br>
Description: <%= @event.description %>

<%= button_to 'Cancel Booking', @at_event, :method => :delete %>