<h2> <%=@at_event.status.name %> Pass for <%= @user.name%></h2>
<br><br>
Event: <%= @event.name %>
<br><br>
Date: <%= @event.datetime %>
<br><br>
Category: <%= @event.category.name %> - <% @event.category.description %>
<br><br>
Description: <%= @event.description %>
<br><br>
Expectation: <%= @at_event.expectation %>
<br><br>

<%= button_to 'Cancel Booking', [@event, @at_event], :method => :delete %>