  <h2> 
    Sign In
  </h2>

  <% flash.each do |type, msg| %>
    <div class="alert">
      <%= msg %>
    </div>
    <br>
  <% end %>
  

  <body>
    <%= form_tag(signin_path) do %>
        Username: <%= text_field_tag :'username' %>
        <br>
        Password: <%= password_field_tag :'password', nil, class: 'masked_input_field' %>
        <br>
        <%= submit_tag 'Sign In' %>
        <br>
    <% end %>
  </body>
  <br>
  <h3> OR </h3>
  <br>
<h3> <%= button_to('Log in with Facebook!', '/auth/facebook') %> </h3>