<h2> <%= @event.name %></h2>
<br>
<%= get_errors %>

Category: <%= @event.category.name%>; <%= @event.category.description %>
<br><br>
Sheduled For: <%=@event.datetime %>
<br><br>
Description: <%= @event.description%>
<br><br>
<%= custom_show_form %>