<!DOCTYPE html>
<html>
  <head>
    <title>SimpleEventTracker</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <h2><%= custom_buttons %> <%= link_to 'About', about_path %> &nbsp;
    <%= admin_buttons? %></h2>
  </head>
  <br>
  <body>
    <%= yield %>
  </body>
</html>
